/*
  Project name(项目名称)：CSS_padding 
  File name(文件名): t
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/1/28 
  Time(创建时间)： 21:39
  Version(版本): 1.0
  Description(描述)：
  内边距（padding）是指元素内容区与边框之间的区域，与外边距不同，内边距会受到背景属性的影响。您可以通过下面的属性来设置元素内边距的尺寸：
padding-top：设置元素内容区上方的内边距；
padding-right：设置元素内容区右侧的内边距；
padding-bottom：设置元素内容区下方的内边距；
padding-left：设置元素内容区左侧的内边距；
padding：内边距属性的缩写形式，可以同时设置上下左右四个方向上的内边距。
值	    说明
length	使用具体数值配合 px、cm 等单位来定义元素内边距的尺寸，不能为负值，默认值为 0px
%	定义基于父元素的宽度百分比的内边距，不能为负值
inherit	从父元素继承内边距属性的值
 */

div {
    padding-top: 10px;
    padding-bottom: 2em;
    padding-left: 1cm;
    padding-right: 3ex;
    border: 1px solid red;
    background: #CFC;
}

div.t2 {
    padding: 10px 3ex 2em 1cm;
    border: 1px solid red;
    background: #CFC;
}